<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        
        <title>{{ channel }} Channel</title>
    </head>
    <body>
        <p>
        <div class="container bkgLightBlue"><div class="row">
      
        <div class="col-4 d-flex align-items-start flex-column">
        <!-- <div class="mt-auto card bkgLightBlue"> -->
        <div class="mt-auto">
        {% if channel[0] == "O" %}
        <h3 class="card-title">You are viewing the <u>OFF-TOPIC</u> channel</h3>
        {% else %}
        <h3 class="card-title">You are viewing the <u>{{ channel.upper() }}</u> channel</h3>
        {% endif %}
        </div>
        <!-- </div> -->
        </div>

        <div class="col-6 d-flex align-items-center flex-column">
        <div class="mt-auto bkgLightBlue">
        {% if channel[0] == "H" %}
        <img class="img-fluid" style="height: auto; width: 75%" src="https://psychohistory.files.wordpress.com/2007/03/sandwich.png" alt="programming humor image">
        {% elif channel[0] == "P" %}
        <img class="img-fluid" style="height: auto; width: 100%" src="https://imgs.xkcd.com/comics/inexplicable_2x.png" alt="programming humor image">
        {% elif channel[0] == "O" %}
        <img class="img-fluid" style="height: auto; width: 100%" src="https://imgs.xkcd.com/comics/code_quality_2x.png" alt="programming humor image">
        {% endif %}
        </div>  
        </div>

        <div class="col-2 d-flex align-items-end flex-column">
        {% if session %}
        <div class="mt-auto card bkgLightGreen">
        <div class="card-body">
        <h6 class="card-title smallFont float-end">Logged-in as <b><u>{{ session['username']}}</u></b> </h6>
        </div>
        </div>
        {% else %}
        <div class="mt-auto card bkgRed">
        <div class="card-body">
        <h6 class="card-title smallFont float-end"><u>NOT</u> logged-in </h6>
        </div>
        </div>
        {% endif %}
        </div>

        </div>
        </div>
        <hr size="25">
        </p>

        <p>
        <div class="container"><div class="row">
        <div class="col-6"><a class="btn btn-outline-primary btn-lg float-left" href="/" role="button">Go back to the homepage</a></div>
        {% if session %}
        <div class="col-6"><a class="btn btn-outline-primary btn-lg float-end" href="/addConvTopic/{{ channel }}" role="button">Add new conversation thread</a></div>
        {% else %}
        <div class="col-6"><a class="btn btn-outline-primary btn-lg float-end disabled" role="button">Add new conversation thread (disabled). You need to log-in to enable</a></div>
        {% endif %}
        </div></div>
        <hr>
        </p>
        
        {% set myIndex = namespace(value=0) %}
        {% set myFlag = namespace(value=0) %}
        {% set commentCounter = namespace(value=0) %}
        {% for doc in docs %}
            {% if myFlag.value == 0 %}
                <p><div class="container"><div class="card bkgLightCoral"><div class="card-body">
                <h4 class="card-title">{{ doc.get("convTopic") }} <h5>- <i>submitted by {{ doc.get("username") }}</i></h5></h4>
                </div></div></div></p>
                {% set myFlag.value = 1 %}
            {% endif %}


            {% if doc.get("comment", None) != None %}
                <p><div class="container"><div class="card bkgNavajoWhite"><div class="card-body text-end">
                <h5 class="card-title text-right">{{ doc.get("comment") }} - <i>submitted by {{ doc.get("username") }}</i></h5>
                </div></div></div></p>
            {% endif %}
                
            {% set commentCounter.value = commentCounter.value + 1 %}

            {% if commentCounter.value > nComments[myIndex.value]  %}
                {% set myFlag.value = 0 %}
                {% set commentCounter.value = 0 %}
                {% set myIndex.value = myIndex.value + 1 %}
                {% if session %}
                <div class="container"><a href="/addComment/{{ channel }}/{{ doc.get('convID') }}"><button type="button" class="btn btn-outline-dark btn-sm float-end">Add comment to thread</button></a></div>
                {% else %}
                <div class="container"><button type="button" class="btn btn-outline-dark btn-sm float-end disabled">Add comment to thread (disabled)</button></div>
                {% endif %}
                <br>
                <hr>
            {% endif %}
            
            
        
        
        {% endfor %}    
        

        

        
    </body>
</html>
